{{ if .Params.comments.enabled }}
  <script src="https://giscus.app/client.js"
    data-repo="{{ .Params.comments.giscus.repo }}"
    data-repo-id="{{ .Params.comments.giscus.repo-id }}"
    data-category="{{ .Params.comments.giscus.category }}"
    data-category-id="{{ .Params.comments.giscus.category-id }}"
    data-mapping="{{ .Params.comments.giscus.mapping }}"
    data-reactions-enabled="{{ .Params.comments.giscus.reactions-enabled }}"
    data-emit-metadata="{{ .Params.comments.giscus.emit-metadata }}"
    data-input-position="{{ .Params.comments.giscus.input-position }}"
    data-lang="{{ .Params.comments.giscus.lang }}"
    data-theme="{{ .Params.comments.giscus.theme }}"
    crossorigin="anonymous"
    async>
  </script>
  <noscript>请启用 JavaScript 来查看评论。</noscript>
{{ end }}
